<%- include('header.ejs') %> 
<link rel="stylesheet" href="/css/editStyle.css">
<body>
    <div class="container py-5 bg-secondary mt-3">
        <form action="/handleEdit/<%=result[0].id %>" class="form-group" method="post">
        <div class="d-flex justify-content-center py-2">
            <input type="text" name="title" placeholder="Article Title" class="w-50 form-control" value="<%=result[0].title%>">
        </div>
        <div class="d-flex justify-content-center py-2">
            <textarea name="article" value="" cols="30" rows="5" class="form-control w-50 " ><%=result[0].content %>
            </textarea>
        </div>
        
        <div class="d-flex justify-content-center py-2">
            <button class="btn-transparent btn btn-outline-dark text-light font-weight-bold border border-light"> UPDATE</button>
        </div>
        </form>
    </div>
</body>
<%- include('footer.ejs') %>